<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>audio</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>UISample uses the &apos;when in use&apos; location permission to demonstrate the ability to show the blue dot on the Citymapper (MapKit) map, without Citymapper logic ever having access to your user&apos;s location.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Required for GO mode</string>
	<key>CitymapperSDKEndpointURL</key>
	<string></string>
	<key>CitymapperSDKAPIKey</key>
	<string></string>
</dict>
</plist>
